@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* Apply All */
html,body {
  font-size: 1.3em;
  height: 100%;
  color:whitesmoke;
}
* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

.top-push {
  margin-top: 100px;
}
.container {
    background: rgba(85, 102, 34, 1);
    border-radius: 25px;
    margin-bottom: 1em;
}
/* Navbar */
.navbar {
    position: fixed;
    margin: 0px;
    width: 100%;
    top: 0px;
    z-index: 9009;
}

#navbar ul a {
    color: green;
    transition: ease-out .8s;
}
#navbar ul a:hover {
    color: black;
    text-decoration: underline;
}


/* content */

h1 {
    margin: 1em ;
}
.albumcover {
    width: 100%;
    padding: .1em 1em;
}

.offSet {
    padding-top: 3em;
}

/* Footer */
.footer, .push {
    height: 4em;
}
.footWrapper, .social {
    background: rgba(64, 77, 25, 1);  
}
.footer .social li{
    display: inline-block;
}
.social i {
    font-size: 2em;
    padding: 10px;
}
.copyright{
    float: right;
    color:black;
}
/* This is for the JS Lyrics */
#quoteBtn{
    background: none;
    border: none;
}

.lyricButtons ul{
    list-style: none;
    float: left;
}
.lyricButtons li{
    padding: 2px;
    display: inline-block;
}


/* End JS Lyrics */

/* one side sticky */
.row {
  display: flex;
}

.text-col {
  width: 40%;
  margin: 15px 25px;
}

.img-col {
  width: 50%;
  margin: 15px;
}

img {
  margin: 100px auto;
  width: 100%;
}

/* text - rgba(170, 187, 51, 1)
   background - rgba(85, 102, 34, 1)
*/